@font-face {
  font-family: Zen;
  src: url('assets/Zen_Maru_Gothic/ZenMaruGothic-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Zen;
  src: url('assets/Zen_Maru_Gothic/ZenMaruGothic-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Zen;
  src: url('assets/Zen_Maru_Gothic/ZenMaruGothic-Bold.ttf');
  font-weight: 700;
}

:root {
  --back-color-light: #F1E8F0;
  --back-color-dark: #B2ADB1;
  --border-color: #BAA6B6;
  --text-color: #60565E;
  --purple-dark: #584A55;
  --shadow: #4D4A4C;
}

/* atomic */
.reset {
  margin: 0;
  padding: 0;
}

.border-box {
  box-sizing: border-box;
}

.width100ps {
  width: 100%;
  box-sizing: border-box;
}

.height100ps {
  height: 100%;
  box-sizing: border-box;
}

.relative {
  position: relative;
}
/* modules */
.scroll {
  overflow: scroll;
}

.centered-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partial-border {
  border-left: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-radius: 0 0 0 20px;
}

.full-border {
  border: 3px solid var(--purple-dark);
  border-radius: 20px;
}

.another-partial-border {
  border-top: 3px solid var(--border-color);
  border-right: 3px solid var(--border-color);
  border-radius: 0 20px 0 0;
}

.another-one-partial-border {
  border-right: 3px solid var(--purple-dark);
  border-bottom: 3px solid var(--purple-dark);
  border-radius: 0 0 20px 0;
}

/* base + theme */
a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  min-width: 100vw;
  min-height: 100vh;
  min-width: 100dvw;
  min-width: 100dvh;

  background-image: radial-gradient(
    circle at top left,
    white 0 10%,
    var(--back-color-light) 40% 70%,
    var(--back-color-dark) 100% 110%
  );
  font-family: Zen;
  font-weight: 300;
  color: var(--text-color);
  font-size: 20px;  
}

.tw {
  max-width: 600px;
  padding: 30px;
}

.tw > div:first-child {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 1fr;
}

.button-container {
  width: 100%;
  padding: 0 50px;

  display: flex;
  justify-content: flex-end;
}

button {
  padding: 5px 10px;

  font-family: Zen;
  font-weight: 500;
  font-size: 20px;
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  background-color: var(--purple-dark);
  color: var(--back-color-light);
  cursor: pointer;
}

.main {
  width: 900px;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 20px 50px;
  z-index: 0;
}

.main p {
  font-size: 18px;
}

.position-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.position-2 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 8;
  margin-top: 45px;
}

.position-3 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 7;

  padding: 0 0 0 40px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.position-4 {
  grid-column: 4 / span 1;
  grid-row: 8 / span 1;
}

/* position-1 */
.position-1 p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* position-2 */
hr {
  width: 200px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 10px;
}

label {
  font-weight: 500;
  padding: 5px 10px; 
}

label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border: 3px solid var(--border-color);
  border-radius: 50%;
}

input:checked + label::before {
  background-color: var(--purple-dark);
}

textarea {
  font-size: 20px;
  font-family: Zen;
  font-weight: 500;
  font-style: normal;
  border-radius: 10px;
  resize: none;
  border: none;
  color: var(--text-color);
  padding: 10px;
}

/* position-3 */
.position-3 div {
  width: 100%;
}

.position-3 img {
  width: 100%;
}

/* viewer */
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  background-color: var(--shadow);
  opacity: 0.5;
}

.viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.close-icon {
  display: inline-block;
  width: 30px;
  height: 30px;

  position: absolute;
  top: 10px;
  right: 10px;

  cursor: pointer;
}

.viewer > div {
  padding: 40px 10px 10px;

  background-color: var(--back-color-light);  
}

.text {
  white-space: pre-line;
}

.hidden {
  display: none;
}


@media screen and (orientation: portrait) {
  body {
    min-width: auto;
    height: auto;
    width: 100dvw;
  }

  .main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .position-1 {
    margin-top: 20px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .position-2 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .position-3 {
    width: 100vw;
    height: 300px;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .img-a {
    max-width: 500px;
  }

  .position-3 div {
    width: min-content;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .position-3 img {
    width: auto;
    height: 100%;
  }

  .position-4 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 40px;
  }

  .hidden {
    display: none;
  }
}
